.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.App-header .Search-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.App-intro {
  font-size: large;
}

